<section class="footer">
  <div class="container">
    <footer>
      <div class="col-1">
        <div>
          <h2 class="column-heading">Newsletter Signup</h2>
          <p>Subscribe to our newsletter to receive updates, promotions, and news about our store and productions.</p>
        </div>
        <div class="input">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Email Address</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </p>
        </div>

        <div class="example-button-row">
          <button mat-flat-button>Shop Now</button>
        </div>

      </div>

      <div class="col-2">
        <h2 class="column-heading">Navigation Links</h2>
        <ul>
          <li>About Us</li>
          <li>FAQ's</li>
          <li>Shipping</li>
          <li>Returns</li>
          <li>Help Centre</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="col-3">
        <h2 class="column-heading">Social Media</h2>
        <ul>
          <li>Instagram</li>
          <li>Facebook</li>
          <li>Twitter</li>
        </ul>
      </div>
    </footer>
  </div>
</section>
