<div class="header">
  <p>New Arrivals</p>
  <div class="example-button-row">
    <button mat-flat-button>Shop New Arrivals</button>
  </div>
</div>

<ul class="ul-1">
  <li *ngFor="let cloth of cloths">
    <a routerLink="/cloth/{{cloth.id}}">
      <img src="{{cloth.imageUrl}}" alt="">
      <div class="content">
        <div class="name">
          {{cloth.name}}
        </div>
        <span>

        </span>
        <div class="product-item-footer">
          <div class="origins">
              <span *ngFor="let origin of cloth.origins">
                  {{origin}}
              </span>
          </div>
        </div>
        <div class="price">
          <span>
              {{cloth.price|currency}}
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>

<div class="header">
  <p>Featured Products</p>
  <div class="example-button-row">
    <button mat-flat-button>Shop All</button>
  </div>
</div>

<ul class="ul-2">
  <li *ngFor="let cloth of cloths">
    <a routerLink="/cloth/{{cloth.id}}">
      <img src="{{cloth.imageUrl}}" alt="" class="cloth">
      <div class="content">
        <div class="name">
          {{cloth.name}}
        </div>
        <span>

        </span>
        <div class="product-item-footer">
          <div class="origins">
              <span *ngFor="let origin of cloth.origins">
                  {{origin}}
              </span>
          </div>
        </div>
        <div class="price">
          <span>
              {{cloth.price|currency}}
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>
