<app-header></app-header>
<section>
  <div class="content">
    <p>
      20% Discount on all deliveries worldwide
    </p>
  </div>
</section>

<div class="image-background" [ngStyle]="{backgroundImage: 'url('+ image + ')', backgroundRepeat: 'no-repeat', backgroundSize: 'cover'}">
  <div class="image-text">
    <p>Always Unique - Always Fashion</p>
  </div>
  <div class="example-button-row">
    <button mat-flat-button>Shop Now</button>
  </div>
</div>

<!-- <app-brand-logo></app-brand-logo> -->
<app-new-arrivals></app-new-arrivals>

<div class="image-background" [ngStyle]="{backgroundImage: 'url('+ image + ')', backgroundRepeat: 'no-repeat', backgroundSize: 'cover'}">
  <div class="image-text">
    <p>Falomo</p>
    <span>Collections</span>
  </div>
  <div class="example-button-row">
    <button mat-flat-button>Shop Now</button>
  </div>
</div>

<app-category></app-category>

<!-- <app-footer></app-footer> -->
